# Cleaning Tweets

## Table of Contents
1. [Imports](#imports)
2. [Importing Data](#data)
3. [Extracting Alphanumeric Tokens](#tokens)
4. [Filtering by Severe Weather in Massachusetts](#mass)
5. [Fixing Class Imbalance - Bootstrapping](#imbalance)
6. [Simulating Random Boston Coordinates](#coordinates)

<a id = imports ></a>
## Imports

In [1]:
import pandas as pd
import random
import numpy as np
import regex as re
import nltk
from bs4 import BeautifulSoup

import warnings
warnings.filterwarnings("ignore")

<a id = data ></a>
## Importing Data

In [2]:
df = pd.read_csv('../datasets/raw_data/raw_tweets.csv')
df

,username,text,date
0,Julie Wilcox WX,An emergency manager once explained it this wa...,2019-08-31 20:22:16
1,Hays Wood,@Xfinity get your shit together! First college...,2019-08-31 17:54:07
2,Ed Vallee | Empire Weather LLC,Have had many ask me what to do for prep. Here...,2019-08-31 15:50:58
3,Joselin Sundin,"@RogersHelps - GM, is any outage in the Duffer...",2019-08-31 14:28:14
4,Shelley Woodroof,Solar lights that people use outside to light ...,2019-08-31 10:45:32
...,...,...,...
11462,Niru,"With the power outage, and no WiFi I feel like...",2014-01-03 04:58:08
11463,Sean,.@SawneeEMC No one would answer the damn phone...,2014-01-03 03:55:06
11464,Heather Rollo,This is such a huge power outage.... and no st...,2014-01-02 21:16:41
11465,Junior,Thank you power outage for no work till who kn...,2014-01-01 19:00:06
11466,Ivan,"There was a power outage at work today, so now...",2014-01-01 00:50:59

Changing the date of the tweet was posted to just the date:

In [3]:
df['date'] = pd.to_datetime(df['date']).dt.date

In [4]:
df.head()

,username,text,date
0,Julie Wilcox WX,An emergency manager once explained it this wa...,2019-08-31
1,Hays Wood,@Xfinity get your shit together! First college...,2019-08-31
2,Ed Vallee | Empire Weather LLC,Have had many ask me what to do for prep. Here...,2019-08-31
3,Joselin Sundin,"@RogersHelps - GM, is any outage in the Duffer...",2019-08-31
4,Shelley Woodroof,Solar lights that people use outside to light ...,2019-08-31

In [5]:
df.shape

(11467, 3)

In [6]:
df.dtypes

username    object
text        object
date        object
dtype: object

Looking for Nulls

In [7]:
df.isnull().sum()

username     3
text         7
date        11
dtype: int64

Need to drop Nulls or Regix will crash

In [8]:
df.dropna(how='any',inplace=True)

In [9]:
df.shape

(11453, 3)

In [10]:
df.isnull().sum()

username    0
text        0
date        0
dtype: int64

<a id = tokens ></a>
## Extracting Alphanumeric Tokens

In [11]:
stopwords = nltk.corpus.stopwords.words('english')

In [12]:
def tweet_cleaning(raw_tweet):
    
    # 1. Remove punctuation
    letters_numbers_only = re.sub('[^A-Za-z0-9]+', " ", raw_tweet)
    
    
    # 2. Convert to lower case, split into individual words.
    words = letters_numbers_only.lower().split()
    
    # 3. Stopwords
    stops = set(stopwords)
    
    # 4. Search Stopwords
    meaningful_words = [w for w in words if not w in stops]
    
    # 5. Join 
    return(" ".join(meaningful_words))

In [13]:
# Tweet Count
total_tweets = len(df)
print(f'There are {total_tweets} tweets.')


# List holders
clean_tweets = []

#Running the functions
print("Cleaning and parsing tweets...")

j = 0
for text in df['text']:
    # Join clean tweets
    clean_tweets.append(tweet_cleaning(text))
    
    # Message to keep track
    if (j + 1) % 1_000 == 0:
        print(f'Tweet {j + 1} of {total_tweets}.')
    
    j += 1

print("COMPLETE")

There are 11453 tweets.
Cleaning and parsing tweets...
Tweet 1000 of 11453.
Tweet 2000 of 11453.
Tweet 3000 of 11453.
Tweet 4000 of 11453.
Tweet 5000 of 11453.
Tweet 6000 of 11453.
Tweet 7000 of 11453.
Tweet 8000 of 11453.
Tweet 9000 of 11453.
Tweet 10000 of 11453.
Tweet 11000 of 11453.
COMPLETE

In [14]:
df['clean_text'] = clean_tweets

In [15]:
df

,username,text,date,clean_text
0,Julie Wilcox WX,An emergency manager once explained it this wa...,2019-08-31,emergency manager explained way interview imag...
1,Hays Wood,@Xfinity get your shit together! First college...,2019-08-31,xfinity get shit together first college footba...
2,Ed Vallee | Empire Weather LLC,Have had many ask me what to do for prep. Here...,2019-08-31,many ask prep done orlando fl reference water ...
3,Joselin Sundin,"@RogersHelps - GM, is any outage in the Duffer...",2019-08-31,rogershelps gm outage dufferin queen area sinc...
4,Shelley Woodroof,Solar lights that people use outside to light ...,2019-08-31,solar lights people use outside light pathways...
...,...,...,...,...
11462,Niru,"With the power outage, and no WiFi I feel like...",2014-01-03,power outage wifi feel like didnt work school
11463,Sean,.@SawneeEMC No one would answer the damn phone...,2014-01-03,sawneeemc one would answer damn phone submit o...
11464,Heather Rollo,This is such a huge power outage.... and no st...,2014-01-02,huge power outage stoplights work
11465,Junior,Thank you power outage for no work till who kn...,2014-01-01,thank power outage work till knows pic twitter...
11466,Ivan,"There was a power outage at work today, so now...",2014-01-01,power outage work today get tip money means ch...

<a id = mass ></a>
## Filtering by Severe Weather in Massachusetts

In [16]:
targets = pd.read_csv('../datasets/outages_since_2014.csv')

In [17]:
targets.head()

,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Number of Customers Affected,Alert Criteria
0,10/22/2014,10:46 PM,10/22/2014,10:47 PM,"New Hampshire, Maine, Massachusetts, Rhode Isl...",NPCC,Severe Weather,"66,650",NaN
1,6/23/2015,6:30 PM,6/24/2015,5:00 AM,"Connecticut, Maine, Massachusetts, New Hampshi...",NPCC,Severe Weather,"62,442","Loss of electric service to more than 50,000 c..."
2,8/4/2015,7:17 AM,8/5/2015,12:52 PM,Massachusetts: Rhode Island:,NPCC,Severe Weather,"132,000","Loss of electric service to more than 50,000 c..."
3,7/22/2016,11:50 PM,7/23/2016,9:10 AM,Massachusetts: Connecticut: Rhode Island: New ...,NPCC,Severe Weather,57058,"Loss of electric service to more than 50,000 c..."
4,7/23/2016,7:30 PM,7/24/2016,7:30 AM,Connecticut: Massachusetts: New Hampshire: Ver...,NPCC,Severe Weather,101073,"Loss of electric service to more than 50,000 c..."

In [18]:
targets.dtypes

Date Event Began                object
Time Event Began                object
Date of Restoration             object
Time of Restoration             object
Area Affected                   object
NERC Region                     object
Event Type                      object
Number of Customers Affected    object
Alert Criteria                  object
dtype: object

In [19]:
targets['Date Event Began'] = pd.to_datetime(targets['Date Event Began']).dt.date

In [20]:
targets['Date of Restoration'] = pd.to_datetime(targets['Date of Restoration']).dt.date

In [21]:
#Each value in the nested list is a date that the blackout occured
blackouts = [pd.date_range(start = targets.loc[i ,'Date Event Began'], end = targets.loc[i, 'Date of Restoration'])for i in targets.index]

# Flatten the 2d list to 1d
# https://www.geeksforgeeks.org/python-ways-to-flatten-a-2d-list/
blackouts = [j for sub in blackouts for j in sub]

# Number of tweets that occured during an actual blackout
df['date'].isin(blackouts).sum()


df['target'] = df['date'].isin(blackouts)
df['target'] *= 1

In [22]:
df.target.sum()

55

In [23]:
df[df.target == 1]

,username,text,date,clean_text,target
1447,WINY Radio,FROM THE NEWSROOM: (STATE) (UPDATED)\nAlthou...,2019-02-26,newsroom state updated although department tra...,1
1448,Angelo Messina Jr,I had no school Power outage,2019-02-26,school power outage,1
1449,Kyle Healy,Hahaha campus wide power outage but still no c...,2019-02-26,hahaha campus wide power outage still canceled...,1
1450,BookMama,Is the @aadl Traverwood library without power?...,2019-02-26,aadl traverwood library without power kid plan...,1
1451,MiEnergy Coop,More #blizzard 2/24/19: loader tractor operate...,2019-02-26,blizzard 2 24 19 loader tractor operated issac...,1
1452,NtombeZinhle,@CoE_Call_Centre I reported a power outage at ...,2019-02-26,coe call centre reported power outage house 24...,1
1453,Jeremy Williams,I just made through #WinterStorm last week and...,2019-02-26,made winterstorm last week yesterday made gust...,1
1454,Rick Dayton,SCHOOL CLOSINGS: We are dealing with some more...,2019-02-26,school closings dealing delays closings today ...,1
1455,NEWS CENTER Maine,No school at Mountain Valley High School in Ru...,2019-02-26,school mountain valley high school rumford tod...,1
1456,Lauren Herrel,What you seriously lack in understanding is th...,2019-02-26,seriously lack understanding way prepare 9 hou...,1
1457,ACF Animal Rescue,. @KElectricPk NO POWER for nearly 7 hours now...,2019-02-26,kelectricpk power nearly 7 hours today 14th co...,1
1458,reneeamelia,a shooting and a power outage at my school and...,2019-02-26,shooting power outage school still class tomor...,1
1459,NBUNZ,power outage=no work being done :D,2019-02-26,power outage work done,1
1460,Deku,Also really really banking hard on no school t...,2019-02-26,also really really banking hard school tomorro...,1
1461,It's Ben,Itâ€™s crazy how @SFSU notifies you for a power ...,2019-02-26,crazy sfsu notifies power outage shooting near...,1
1462,ðŸŒ¸IzagarðŸŒ¸ - Commissions|Patreon Print Club Open!,*CTRL+S INTENSIFIES DURING POWER OUTAGE*\n\nNo...,2019-02-26,ctrl intensifies power outage srsly careful wo...,1
1463,WINY Radio,NO SCHOOL TOMORROW (Tuesday) at The Woodstock ...,2019-02-26,school tomorrow tuesday woodstock academy due ...,1
1464,V-Live ðŸ˜Ž,This power outage we going have is going blow ...,2019-02-26,power outage going going blow thank god dont w...,1
1465,Yvonne Sewall,Our whole complex has a power outage due to hi...,2019-02-26,whole complex power outage due high winds than...,1
4016,Waldemar Gonzalez,"No work for a week due to power outage, trip t...",2018-03-05,work week due power outage trip miami sounds l...,1
4017,oldschool,Really. !! NYSEG needs leadership. Is this yo...,2018-03-05,really nyseg needs leadership first power outa...,1
4018,Deanna,Aaaand they left without doing anything. The o...,2018-03-05,aaaand left without anything outage map longer...,1
4019,Rose,Power Outage waste: \n school cafeteria where...,2018-03-05,power outage waste school cafeteria line dance...,1
4020,LocoMoco Guy,Tried calling the toll free number. No chance ...,2018-03-05,tried calling toll free number chance talk liv...,1
4021,Ash,No work again today because of the power outag...,2018-03-05,work today power outage streaming earlier tonight,1
4022,Scott Yergensen,Social media may not normally be a support too...,2018-03-05,social media may normally support tool apprive...,1
4023,PA Department of Health,Has your power has been out because of the #no...,2018-03-05,power noreaster food fridge safe long power 4 ...,1
4024,pdmeyers,Power outage day 4 at work. No work so at home...,2018-03-05,power outage day 4 work work home painting pro...,1
4025,mrsbb10,@DomEnergyVA day 4 no power! Full fridge/freez...,2018-03-05,domenergyva day 4 power full fridge freezer sp...,1
4026,BlaQ Czar,Lol i walk into work expecting a smooth as day...,2018-03-05,lol walk work expecting smooth day nope intern...,1
4027,SkellBell,Tree crews & line peeps r busting their keeste...,2018-03-05,tree crews line peeps r busting keesters much ...,1
4028,Bob Kelly,Who can relate?? Power outage for parents me...,2018-03-05,relate power outage parents means heat food lo...,1
4029,MM,"County power outage, hurricane force winds, a...",2018-03-05,county power outage hurricane force winds 40 d...,1
4030,Mufasa,@aedcelectricity Good morning. Since Saturday ...,2018-03-05,aedcelectricity good morning since saturday mo...,1
4031,alice,Wow so you close school on Friday when there i...,2018-03-05,wow close school friday risk power outage actu...,1
4032,alice,Wow so you close school on Friday when there i...,2018-03-05,wow close school friday risk power outage actu...,1
4033,Peter Eacmen,Hmm this advice two days after outage is usele...,2018-03-05,hmm advice two days outage useless stop tweeti...,1
4034,Ed McDonough,This is from our counterparts in Massachusetts...,2018-03-05,counterparts massachusetts good tips sbout foo...,1
4738,Jeremy Hill,There is no more efficient way to find out if ...,2017-11-01,efficient way find food freezer still good thr...,1
4739,Jeremy Hill,There is no more efficient way to find out if ...,2017-11-01,efficient way find food freezer still good thr...,1
4740,Aimee MacTavish,@SkyHelpTeam any ETA on broadband outage in No...,2017-11-01,skyhelpteam eta broadband outage north glasgow...,1
4741,Joe Sexton,@Ask_Spectrum Hope Game 7 doesn't go as long a...,2017-11-01,ask spectrum hope game 7 go long game 5 since ...,1
4742,Lori,literally no idea how i'm going to replace all...,2017-11-01,literally idea going replace food lost power o...,1
4743,Danielle Klingaman,The Technology Review Committee meeting was po...,2017-11-01,technology review committee meeting postponed ...,1
4744,Chesapeake Cougars,Due to a power outage - there is no school tod...,2017-11-01,due power outage school today soon hear impact...,1
4745,Wes Swain ðŸ§¢,@WVSnowDay no school in Jackson. County due to...,2017-11-01,wvsnowday school jackson county due widespread...,1
4746,Erskine Academy,"Due to continued power outage, there is no sch...",2017-11-01,due continued power outage school today wednes...,1
4747,Minot School,Good Morning! There will be no school at MCS ...,2017-11-01,good morning school mcs today due power outage...,1
4748,RSU 16,There is no school at Minot Consolidated Schoo...,2017-11-01,school minot consolidated school today nov 1 d...,1
4749,Jeff Porter,No school Wednesday at Greely High School due ...,2017-11-01,school wednesday greely high school due contin...,1
6698,Kyle Ozan,The power outage isn't as devastating when 4 b...,2016-07-23,power outage devastating 4 bagels cream cheese...,1
6699,JJ,Pretty disconcerting that the power is out and...,2016-07-23,pretty disconcerting power website list curren...,1
6700,Matt Aguiar,Darn it. Wont be able to get up tmrw cause my ...,2016-07-23,darn wont able get tmrw cause alarm doesnt wor...,1
6701,Joshuah Short,Sorry about no videos lately. Too hot to work ...,2016-07-23,sorry videos lately hot work power outage lame...,1
6702,Busta Grimes,horror movie because there's no food in your h...,2016-07-23,horror movie food house power outage,1

<a id = imbalance ></a>
## Fixing Class Imbalance

Lets look at popular counts of words:

In [24]:
df.clean_text.value_counts()

power outage school                                                                                     40
school power outage                                                                                     38
power outage problem frigidaire arcticlock technology keep food frozen 2 days                           35
power outage work                                                                                       23
school today power outage                                                                               17
                                                                                                        ..
another outage sorts pls ever work matter much pay                                                       1
due power outage school thursday march 9 friday thursday block schedule info later school activities     1
sprintcare outage sprint doesnt work building period every provider way yrs matter device                1
psetalk norkirk update outage map yet chance crews close thanks hard work                                1
ask spectrum outage work excuse                                                                          1
Name: clean_text, Length: 11040, dtype: int64

In [25]:
df['imbalance_fix']= df['clean_text'].str.contains('power outage')* 1

In [26]:
df['imbalance_fix'].value_counts(normalize = True)

1    0.565092
0    0.434908
Name: imbalance_fix, dtype: float64

Lets take a look at how many of our desired dates are still included with this imbalance fix:

In [27]:
df[(df['target'] == 1) & (df['imbalance_fix'] == 1 )].count()

username         39
text             39
date             39
clean_text       39
target           39
imbalance_fix    39
dtype: int64

In [28]:
df['targets'] = (df['target'] + df['imbalance_fix'] >= 1)*1

In [29]:
df['targets'].value_counts(normalize = True)

1    0.566489
0    0.433511
Name: targets, dtype: float64

<a id = coordinates ></a>
## Simulating Random Boston Coordinates

In [30]:
np.random.seed(42)

In [31]:
#latitude
coor_lat=range(42229077, 42397652)
latitudes=np.random.choice(coor_lat, size=df.shape[0])
latitudes=latitudes/1000000

In [32]:
#longitude
coor_long=range(-71203220, -70987133)
longitude=np.random.choice(coor_long, size=df.shape[0])
longitude=longitude/1000000

In [33]:
df['lat']=latitudes
df['long']=longitude

In [34]:
df.head()

,username,text,date,clean_text,target,imbalance_fix,targets,lat,long
0,Julie Wilcox WX,An emergency manager once explained it this wa...,2019-08-31,emergency manager explained way interview imag...,0,1,1,42.351035,-71.179016
1,Hays Wood,@Xfinity get your shit together! First college...,2019-08-31,xfinity get shit together first college footba...,0,0,0,42.375944,-71.075911
2,Ed Vallee | Empire Weather LLC,Have had many ask me what to do for prep. Here...,2019-08-31,many ask prep done orlando fl reference water ...,0,1,1,42.361009,-71.037220
3,Joselin Sundin,"@RogersHelps - GM, is any outage in the Duffer...",2019-08-31,rogershelps gm outage dufferin queen area sinc...,0,0,0,42.332771,-71.018539
4,Shelley Woodroof,Solar lights that people use outside to light ...,2019-08-31,solar lights people use outside light pathways...,0,1,1,42.348956,-71.172668

In [35]:
df.to_csv('../datasets/clean_tweets.csv', index = False)