# Cleaning Tweets

### Imports

In [1]:
import pandas as pd
import random
import numpy as np
import regex as re
import nltk
from bs4 import BeautifulSoup

import warnings
warnings.filterwarnings("ignore")

In [5]:
file_name_outages='../datasets/raw_data/raw_tweets.csv'
file_name_random='../datasets/irrelevent_tweets.csv'

### DataFrame Set Up

In [7]:
df1=pd.read_csv(file_name_outages)
df1.drop(columns='Unnamed: 0', inplace = True)
df1['label']='outage'
df2=pd.read_csv(file_name_random)#.drop(columns='Unnamed: 0')
df2['label']='irrelevant'

In [8]:
df1.head()

,Unnamed: 0,username,text,date,label
0,0,Kj8yu_0516,はるるん(@harurun_kj8)\nすず(@kj8_strawberry)\nちゃんり(...,2019-08-31 23:59:59,irrelevant
1,1,xALLxBLK,pic.twitter.com/8g4O8FbOlu,2019-08-31 23:59:59,irrelevant
2,2,2hot2hndle211,And Whallah!!! We have background checks!,2019-08-31 23:59:59,irrelevant
3,3,fukkinwarude,ベビーせんべいとかってまだ食べられないんですかね\n少しでも食感に変化をつけたいですよね,2019-08-31 23:59:59,irrelevant
4,4,ex_homosexual,Is an onion video lmaoooo,2019-08-31 23:59:59,irrelevant

In [72]:
df=pd.concat([df1,df2],axis=0)

In [73]:
df['dates']=pd.to_datetime(df.date).dt.date

In [74]:
df['dates']=pd.to_datetime(df.dates)

In [75]:
df.dtypes

username            object
text                object
date                object
label               object
dates       datetime64[ns]
dtype: object

In [76]:
df=df.drop(columns=['date'])

In [77]:
df.head()

,username,text,label,dates
0,JulieWilcoxWX,An emergency manager once explained it this wa...,outage,2019-08-31
1,hays_wood,@Xfinity get your shit together! First college...,outage,2019-08-31
2,EdValleeWx,Have had many ask me what to do for prep. Here...,outage,2019-08-31
3,teamworkf1,"@RogersHelps - GM, is any outage in the Duffer...",outage,2019-08-31
4,shellz_woo,Solar lights that people use outside to light ...,outage,2019-08-31

In [78]:
df.dropna(how='any',inplace=True)

### Removing Stop Words and HTML

In [79]:
stopwords = nltk.corpus.stopwords.words('english')

In [80]:
def tweet_cleaning(raw_tweet):
    
    # 1. Remove HTML
    tweet_text = BeautifulSoup(raw_tweet).get_text()
    
    # 2. Remove punctuation, keep numbers with 1-4 digits
    letters_numbers_only = re.sub("[^a-zA-Z]", " ", tweet_text)
    latin = re.sub("r'[\p{Latin}]'", " ", letters_numbers_only)
    
    # 3. Convert to lower case, split into individual words.
    words = latin.lower().split()
    
    # 4. Search
    stops = set(stopwords)
    
    # 5. Stop Words
    meaningful_words = [w for w in words if not w in stops]
    
    # 6. Join 
    return(" ".join(meaningful_words))

In [81]:
# Tweet Count
total_tweets = df.shape[0]
print(f'There are {total_tweets} tweets.')

# List holders
clean_train_tweets = []
clean_test_tweets = []

There are 61263 tweets.

In [82]:
#Running the functions
print("Cleaning and parsing tweets...")

j = 0
for train_tweet in df['text']:
    # Join clean tweets
    clean_train_tweets.append(tweet_cleaning(train_tweet))
    
    # Message to keep track
    if (j + 1) % 1000 == 0:
        print(f'Tweet {j + 1} of {total_tweets}.')
    
    j += 1

print("Cleaning and parsing the testing set ...")

Cleaning and parsing the training set movie reviews...
Tweet 1000 of 61263.
Tweet 2000 of 61263.
Tweet 3000 of 61263.
Tweet 4000 of 61263.
Tweet 5000 of 61263.
Tweet 6000 of 61263.
Tweet 7000 of 61263.
Tweet 8000 of 61263.
Tweet 9000 of 61263.
Tweet 10000 of 61263.
Tweet 11000 of 61263.
Tweet 12000 of 61263.
Tweet 13000 of 61263.
Tweet 14000 of 61263.
Tweet 15000 of 61263.
Tweet 16000 of 61263.
Tweet 17000 of 61263.
Tweet 18000 of 61263.
Tweet 19000 of 61263.
Tweet 20000 of 61263.
Tweet 21000 of 61263.
Tweet 22000 of 61263.
Tweet 23000 of 61263.
Tweet 24000 of 61263.
Tweet 25000 of 61263.
Tweet 26000 of 61263.
Tweet 27000 of 61263.
Tweet 28000 of 61263.
Tweet 29000 of 61263.
Tweet 30000 of 61263.
Tweet 31000 of 61263.
Tweet 32000 of 61263.
Tweet 33000 of 61263.
Tweet 34000 of 61263.
Tweet 35000 of 61263.
Tweet 36000 of 61263.
Tweet 37000 of 61263.
Tweet 38000 of 61263.
Tweet 39000 of 61263.
Tweet 40000 of 61263.
Tweet 41000 of 61263.
Tweet 42000 of 61263.
Tweet 43000 of 61263.
Tweet 44000 of 61263.
Tweet 45000 of 61263.
Tweet 46000 of 61263.
Tweet 47000 of 61263.
Tweet 48000 of 61263.
Tweet 49000 of 61263.
Tweet 50000 of 61263.
Tweet 51000 of 61263.
Tweet 52000 of 61263.
Tweet 53000 of 61263.
Tweet 54000 of 61263.
Tweet 55000 of 61263.
Tweet 56000 of 61263.
Tweet 57000 of 61263.
Tweet 58000 of 61263.
Tweet 59000 of 61263.
Tweet 60000 of 61263.
Tweet 61000 of 61263.
Cleaning and parsing the testing set ...

In [83]:
df['clean_text']=clean_train_tweets

In [84]:
df.tail()

,username,text,label,dates,clean_text
50013,kaedenoha_89,待ってどれwwww,irrelevant,2019-08-31,wwww
50014,hhacffcvhim,للآن يتصالحون واالشعوب مركونين بالفراغ المميت ...,irrelevant,2019-08-31,
50015,hito_yr,"Jimin in Paris, official video \n#JIMINpic.twi...",irrelevant,2019-08-31,jimin paris official video jiminpic twitter co...
50016,joelbirch,Your name is MŸKKECÅRLT now. You will require ...,irrelevant,2019-08-31,name kkec rlt require assembly
50017,takapzdra91,まひちゃん熱中症ならなくてよかった(๑•ᴗ•๑),irrelevant,2019-08-31,

In [85]:
df.dropna(how='any',inplace=True)

### Filter by Date

In [86]:
targets=pd.read_csv('./Outages_since_2014.csv')

In [87]:
targets.head()

,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Number of Customers Affected,Alert Criteria
0,2014-10-22,10:46 PM,2014-10-22,10:47 PM,"New Hampshire, Maine, Massachusetts, Rhode Isl...",NPCC,Severe Weather,"66,650",NaN
1,2015-06-23,6:30 PM,2015-06-24,5:00 AM,"Connecticut, Maine, Massachusetts, New Hampshi...",NPCC,Severe Weather,"62,442","Loss of electric service to more than 50,000 c..."
2,2015-08-04,7:17 AM,2015-08-05,12:52 PM,Massachusetts: Rhode Island:,NPCC,Severe Weather,"132,000","Loss of electric service to more than 50,000 c..."
3,2016-07-22,11:50 PM,2016-07-23,9:10 AM,Massachusetts: Connecticut: Rhode Island: New ...,NPCC,Severe Weather,57058,"Loss of electric service to more than 50,000 c..."
4,2016-07-23,7:30 PM,2016-07-24,7:30 AM,Connecticut: Massachusetts: New Hampshire: Ver...,NPCC,Severe Weather,101073,"Loss of electric service to more than 50,000 c..."

In [88]:
#Each value in the nested list is a date that the blackout occured
blackouts = [pd.date_range(start = targets.loc[i ,'Date Event Began'], end = targets.loc[i, 'Date of Restoration'])for i in targets.index]

# Flatten the 2d list to 1d
# https://www.geeksforgeeks.org/python-ways-to-flatten-a-2d-list/
blackouts = [j for sub in blackouts for j in sub]

# Number of tweets that occured during an actual blackout
df['dates'].isin(blackouts).sum()

df['target'] = df['dates'].isin(blackouts)
df['target'] *= 1

In [89]:
df.head()

,username,text,label,dates,clean_text,target
0,JulieWilcoxWX,An emergency manager once explained it this wa...,outage,2019-08-31,emergency manager explained way interview imag...,0
1,hays_wood,@Xfinity get your shit together! First college...,outage,2019-08-31,xfinity get shit together first college footba...,0
2,EdValleeWx,Have had many ask me what to do for prep. Here...,outage,2019-08-31,many ask prep done orlando fl reference water ...,0
3,teamworkf1,"@RogersHelps - GM, is any outage in the Duffer...",outage,2019-08-31,rogershelps gm outage dufferin queen area sinc...,0
4,shellz_woo,Solar lights that people use outside to light ...,outage,2019-08-31,solar lights people use outside light pathways...,0

In [90]:
df.target.sum()

491

### Class Imbalance Fix - Sampling

In [91]:
#Undersample majority class
fakenews = df[df['target'] == 0]
fakenews_subset = fakenews.sample(n = 1000, random_state=42)
fakenews_subset

final_df = pd.concat([df[df['target'] == 1], fakenews_subset], axis = 0)
final_df.shape

(1491, 6)

In [92]:
final_df.shape[0]

1491

### Simulating Random Boston Coordinates

In [62]:
np.random.seed(42)

In [93]:
#latitude
coor_lat=range(42229077, 42397652)
latitudes=np.random.choice(coor_lat, size=final_df.shape[0])
latitudes=latitudes/1000000

In [94]:
#longitude
coor_long=range(-71203220, -70987133)
longitude=np.random.choice(coor_long, size=final_df.shape[0])
longitude=longitude/1000000

In [95]:
#zipcode
coor_zip=['02108', '02109', '02110', '02111', '02113', '02114', '02115', '02116', '02118', '02119', '02120', '02121', '02122', '02124', '02125', '02126', '02127', '02128', '02129', '02130', '02131', '02132', '02134', '02135', '02136', '02151', '02152', '02163', '02199', '02203', '02210', '02215', '02467']
zipcodes=np.random.choice(coor_zip, size=final_df.shape[0])

In [96]:
final_df['lat']=latitudes
final_df['long']=longitude
final_df['zip']=zipcodes

In [97]:
final_df.head()

,username,text,label,dates,clean_text,target,lat,long,zip
326,Amithridya1001,No update or action on supply issue at near 2 ...,outage,2019-07-23,update action supply issue near still even cus...,1,42.273331,-71.199445,02151
327,ellensweeps,I live in what is considered the largest conce...,outage,2019-07-23,live considered largest concentrated outage ma...,1,42.267302,-71.175832,02131
328,CoxHelp,"No, there is not an outage and your modem is r...",outage,2019-07-23,outage modem receiving signal us reset modem f...,1,42.241530,-71.079420,02151
329,Steven_McKie,No big deal @Xfinity I didn’t have to work tod...,outage,2019-07-23,big deal xfinity work today anything outage ni...,1,42.378963,-71.182191,02151
330,Larapic,So we filled the Adpt with post-its today and ...,outage,2019-07-23,filled adpt post today second outage ended dis...,1,42.378412,-71.119239,02116

### Save DF

In [98]:
final_df.to_csv('./clean_tweets.csv')